<div  class="row justify-content-center">
    <div class="col-7">
        
    </div>   
</div>


    <div class="example-button-row text-center">
      <button type="button" mat-button [disabled]="!!!id" class="btn btn-primary rounded-pill" (click)="onEdit()">Edit</button>
      <button type="button" mat-button [disabled]="!!!id" class="btn btn-danger rounded-pill" (click)="onDelete()">Delete</button>
    </div>



  <mat-selection-list #peripheral [multiple]="false" (selectionChange)="onSelectionListChange($event)">
    <mat-list-option *ngFor="let peripheral of peripheralList|async; index as i" [value]="{id:peripheral.id,pos:i}" class="text-center">
        <p matLine><span>{{peripheral.vendor}}</span>
            <span> -- </span>
            <span>{{peripheral.createDate|date}}</span>
            <span> -- </span>
            <span [ngClass]="{'text-primary':peripheral.state==='online','text-danger':peripheral.state==='offline'}">
                {{peripheral.state | uppercase}}</span></p>
    </mat-list-option>
  </mat-selection-list>
  <mat-divider></mat-divider>








 
