.mat-form-field {
    margin-right: 8px;
  }

/*.spinner{
    background-color: transparent;
}*/

.mat-snack-bar-container {
    color: rgba(8, 7, 7, 0.7);
    background: #1d078009;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

  ::ng-deep .custom-style{
    background-color:brown;
    color:white;
  }